.search-bar {
  background: #2e4845;
  padding: 2rem 4rem;
}

.filter-controls-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.sort-section,
.filter-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown-label {
  background-color: #567c77;
  color: white;
  padding: 0.5rem 2.75rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 100;
  letter-spacing: 0.01rem;
  display: inline-block;
  text-align: center;
}

.controls-group {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  color: white;
}

.sort-section .controls-group button {
  background-color: #567c77;
  color: white;
  padding: 0.5rem 2.75rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 100;
  letter-spacing: 0.01rem;
  transition: background-color 0.2s ease;
}

.sort-section .controls-group button:hover {
  background-color: #3e5d58;
}

.sort-section .controls-group button.selected {
  color: #16332f;
  background-color: #ceefee;
}

.label {
  font-weight: 600;
  margin: 0.25rem 0 0;
  font-size: 0.75rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  color: #ceefee;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 105%;
  color: #2e4845;
  background-color: #f4f2ee;
  border-radius: 12.5px;
  padding: 25px;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.submit-button {
  background-color: #ceefee;
  color: #16332f;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #3e5d58;
  color: white;
}

@media (max-width: 1050px) {
  .filter-controls-row {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .search-bar {
    padding: 2rem 2rem;
  }

  .dropdown-label {
    font-size: 0.8rem;
    width: 147px;
    padding-left: 0;
    padding-right: 0;
  }

  .controls-group {
    gap: 1rem;
  }

  .sort-section .controls-group button {
    font-size: 0.8rem;
    width: 147px;
    padding-left: 0;
    padding-right: 0;
  }

  .submit-button {
    width: 32.5px;
    height: 32.5px;
  }
}
