.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 4rem;
  background-color: #16332f;
}

.header h1 {
  font-weight: 600;
  font-size: 3.25rem;
  color: white;
}

.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 0.2rem;
}

a {
  text-decoration: none;
  margin-top: 0.4rem;
}

.user-section img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
}

.user-section p {
  font-weight: 600;
  margin: 0.25rem 0 0;
  font-size: 0.65rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  color: white;
}

.change-user {
  padding: 0.5rem 1rem;
  background-color: #567c77;
  border-radius: 200px;
}

@media (max-width: 480px) {
  .header {
    position: relative;
    flex-direction: column;
    padding: 5.5rem 2rem 3rem 2rem;
  }

  .header h1 {
    text-align: center;
  }

  .user-section {
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem 1.25rem;
  }

  .user-info {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 0.75rem;
    justify-content: flex-start;
  }

  .user-section img {
    width: 35px;
    height: 35px;
  }

  .change-user {
    transform: translateY(-3px);
  }
}
