.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 4rem;
  background-color: #16332f;
}

.header h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: white;
}

.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

a {
  text-decoration: none;
  margin-top: 0.4rem;
}

.user-section img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
}

.user-section p {
  font-weight: 600;
  margin: 0.25rem 0 0;
  font-size: 0.6rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
}

.user-name {
  color: white;
}

.change-user {
  color: white;
  padding: 0.5rem 1rem;
  background-color: #567c77;
  border-radius: 200px;
}

@media (max-width: 480px) {
  .header {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
  }

  .header h1 {
    font-size: 2.25rem;
  }

  .user-section {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .user-section img {
    width: 30px;
    height: 30px;
    margin-top: 0.56rem;
  }

  .user-name {
    display: none;
  }
}
