.property-list img {
  width: 225px;
  height: 225px;
  object-fit: cover;
}

.property-list {
  position: relative;
}

.property-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 290px;
  width: 100%;
  background-color: #2e4845;
  z-index: -1;
}

.property-list ul {
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 4rem;
  column-gap: 2rem;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.property-list li {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.333% - 3rem);
  height: 400px;
  align-items: center;
  text-align: center;
  color: #16332f;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.property-name {
  margin-top: 1rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
}

.property-view {
  margin-top: 0.5rem;
  text-decoration: none;
  display: inline-block;
  font-weight: 800;
  font-size: 0.65rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  color: #16332f;
  background-color: #ceefee;
  border-radius: 200px;
  padding: 0.5rem 1rem;
}

@media (max-width: 1050px) {
  .property-list::before {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .property-list ul {
    margin: 2rem 1rem;
  }

  .property-list li {
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
  }
}

@media (max-width: 450px) {
  .property-list::before {
    height: 375px;
  }
}

@media (max-width: 425px) {
  .property-list::before {
    height: 425px;
  }
}

@media (min-width: 1250px) {
  .property-list img {
    width: 265px;
    height: 265px;
  }

  .property-list ul {
    margin: 3rem 7rem;
  }
}
