.single-user {
  margin: 0rem 4rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.single-user-info-box {
  background-color: #2e4845;
  padding: 3.5rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.single-user-info-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 325px;
  width: 100%;
  background-color: #16332f;
  z-index: -1;
}

.single-user h2 {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.015rem;
  margin-bottom: 1rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.single-user-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
}

.user-properties-section {
  background-color: #ffffff;
  padding: 2.5rem 0;
  text-align: center;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
}

.user-properties-section h3 {
  color: #16332f;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.015rem;
}

.reviews-list {
  margin-bottom: 2rem;
}

.user-reviews-section h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  font-weight: 800;
  font-size: 0.65rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  color: #16332f;
  background-color: #ceefee;
  border-radius: 200px;
  padding: 0.5rem 1rem;
}

.user-review-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
  border-top: 1.5px solid #ceefee;
  padding: 1rem 0;
  margin: 0.25rem 0;
}

.user-review-item:last-child {
  border-bottom: 1.5px solid #ceefee;
}

.review-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-content h4 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
}

.review-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.review-content p {
  margin-top: 0.25rem;
}

.review-date {
  font-size: 0.65rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

@media (max-width: 480px) {
  .single-user-info-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
  }

  .single-user-avatar {
    width: 175px;
    height: 175px;
    order: 1;
    margin-bottom: 2rem;
  }

  .user-info {
    align-items: center;
    order: 2;
  }

  .user-properties-list {
    flex-direction: column;
    align-items: center;
  }

  .user-review-item {
    align-items: flex-start;
  }
}
